<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m llokr</h1>
	<h2>Welcome To My Blog.<h2>
	<p>Studying Backend & Cloud Engineering</p>
      </header>
<!--
      <p>I explore the full stack from <strong>computer science fundatmentals</strong> to <strong>cloud-native architectures</strong>. My main focus in on backend development using <strong> Spring Boot</strong>, containerization with <strong>Docker</strong>, orchestration via <strong>Kubernetes</strong>. This blog is my digital lab - <br>where I document, reflect, and share what I learn as I grow into a cloud engineer.</p>
      <ul class="actions">
        <li><a href="#" class="button big">About Me</a></li>
      </ul>
-->
    </div>
    <span class="image object">
      <img src="assets/images/main03.jpg" alt="" />
    </span>
  </section>
