<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Categories</h2>
          </header>
          <ul>
            {% for cat in site.data.categories %}
              {% assign posts_in_cat = site.categories[cat.name] %}
              <li>
                <a href="{{ '/categories/' | append: cat.name | relative_url }}">
                  {{ cat.name }} {% if posts_in_cat %} ({{ posts_in_cat | size }}) {% else %} (0) {% endif %}
                </a>
                {% if cat.children %}
                  <ul>
                    {% for subcat in cat.children %}
                      {% assign posts_in_subcat = site.categories[subcat.name] %}
                      <li>
                        <a href="{{ '/categories/' | append: subcat.name | relative_url }}">
                          {{ subcat.name }} {% if posts_in_subcat %} ({{ posts_in_subcat | size }}) {% else %} (0) {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      
      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Please get in touch using the contact details below.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }} {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
